html {
	overflow-y: auto !important;
}

.v-input__slot::before,
.v-input__slot::after {
	border-style: none !important;
}

.v-text-field--outlined fieldset {
	border: 1px solid #cbcbcb !important;
	border-radius: 3px !important;
}
